$grey1: rgb(25,25,25);
$grey2: rgb(50,50,50);
$grey3: rgb(150,150,150);
$grey4: rgb(180,180,180);
$grey5: rgb(230,230,230);
$grey6: rgb(250,250,250);

$blue1: rgb(50,170,255);
$blue2: rgb(40,140,210);

$green1: rgb(0,225,160);
$green2: rgb(0,170,120);

$yellow1: rgb(240,255,50);
