<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MTNCast | High Altitude Content to Get You Psyched</title>
    <meta name="description" content="High altitude content to get you psyched! We've got your bouldering, alpine climbing, trad climbing, sport climbing and deep water soloing needs covered." />
    <meta name="keywords" content="climbing,photos,videos,articles,mountain,blog,mtnblog,mountainblog,climbingblog,pictures,mountains,summits,bouldering,sport,trad,traditional,alpine">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <header>
    <a class="logo" href="/">MTNCAST</a>
    <nav>
      <a class="episode-title" href="#"><%= @episode.title %></a>
      <audio id="player" class="mejs__player" preload="none">
        <source src="https://freemusicarchive.org/music/listen/7f1bb4ffc2da376a96c5298afa001e1cab9740d1" type="audio/mp3">
      </audio>      
    </nav>
  </header>

  <body>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>

